## Importing required libraries and Dataset

In [9]:
from google.colab import drive
drive.mount('/content/drive')
import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
import os
os.chdir("/content/drive/MyDrive/kaggle/Dry Bean Dataset")
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_excel('Dry_Bean_Dataset_2.xlsx')
df.head()

   Unnamed: 0   Area  Perimeter  ...  ShapeFactor3  ShapeFactor4  Class
0           0  28395    610.291  ...      0.834222      0.998724  SEKER
1           1  28734    638.018  ...      0.909851      0.998430  SEKER
2           2  29380    624.110  ...      0.825871      0.999066  SEKER
3           3  30008    645.884  ...      0.861794      0.994199  SEKER
4           4  30140    620.134  ...      0.941900      0.999166  SEKER

[5 rows x 18 columns]

Removing Unwanted Column

In [4]:
df = df.drop(['Unnamed: 0'], axis = 1)
df.head()

    Area  Perimeter  MajorAxisLength  ...  ShapeFactor3  ShapeFactor4  Class
0  28395    610.291       208.178117  ...      0.834222      0.998724  SEKER
1  28734    638.018       200.524796  ...      0.909851      0.998430  SEKER
2  29380    624.110       212.826130  ...      0.825871      0.999066  SEKER
3  30008    645.884       210.557999  ...      0.861794      0.994199  SEKER
4  30140    620.134       201.847882  ...      0.941900      0.999166  SEKER

[5 rows x 17 columns]

## Label Encoding the classes with the help of LabelEncoder and Scaling the Feature values with StandardScaler

In [5]:
le = LabelEncoder()

df['Class'] = le.fit_transform(df['Class'])
df.head()

    Area  Perimeter  MajorAxisLength  ...  ShapeFactor3  ShapeFactor4  Class
0  28395    610.291       208.178117  ...      0.834222      0.998724      5
1  28734    638.018       200.524796  ...      0.909851      0.998430      5
2  29380    624.110       212.826130  ...      0.825871      0.999066      5
3  30008    645.884       210.557999  ...      0.861794      0.994199      5
4  30140    620.134       201.847882  ...      0.941900      0.999166      5

[5 rows x 17 columns]

In [6]:
y_data = df.Class
X_data = df.drop('Class', axis = 1)
scalar = StandardScaler()
Xf_data = scalar.fit_transform(X_data)
Xf_data

array([[-0.84074853, -1.1433189 , -1.30659814, ...,  2.40217287,
         1.92572347,  0.9244983 ],
       [-0.82918764, -1.01392388, -1.39591111, ...,  3.10089314,
         2.68970162,  0.8480684 ],
       [-0.80715717, -1.07882906, -1.25235661, ...,  2.23509147,
         1.84135576,  1.01360521],
       ...,
       [-0.37203825, -0.44783294, -0.45047814, ...,  0.28920441,
         0.33632829,  0.41507647],
       [-0.37176543, -0.42702856, -0.42897404, ...,  0.22837538,
         0.2489734 ,  0.01286463],
       [-0.37135619, -0.38755718, -0.2917356 , ..., -0.12777587,
        -0.2764814 ,  0.78279466]])

In [7]:
X_train ,X_test, y_train, y_test = train_test_split(Xf_data, y_data, test_size = 0.25, random_state = 1)

## Fitting the dataset on XGB classifier and checking accuracy for train and test data

In [8]:
model = XGBClassifier()
model.fit(X_train, y_train)
train_accuracy = accuracy_score(model.predict(X_train), y_train)
y_pred = model.predict(X_test)
test_accuracy = accuracy_score(y_pred, y_test)
print("Train Accuracy =", train_accuracy)
print("Test Accuracy =", test_accuracy)

Train Accuracy = 0.9544474921630094
Test Accuracy = 0.940346752865119